/* ####################################### */
/*                   FORM                  */
/* ####################################### */

/* FORM */
form { 
  margin:0 0 10px; 
}

form table {}
form table tr th,
form table tr td { padding:2px 0; }

form .field { 
  clear:both;
  border:none; 
}

form .field .label { 
  float:left;
  margin-top:2px;
  padding-right:15px;
  width:120px;
  text-align:right;
}

form .field .input, 
form .field .input textarea,
form .field .input select { 
  float:left;
  margin:0 0 5px; 
}

form .field .note { 
  margin:2px 0 3px;
  padding:0;
  color:#555555;
  line-height:18px; 
}

form .field .input textarea { 
  width:300px;
  height:50px; 
}

form .field.respond {
  margin-top:15px;
}

form .field-command {
  padding:10px 0 0;
  border-top:solid 1px #dddddd;
  text-align: right;
}

form .field-approve {
	margin: 10px 0 0;
  padding:5px 0 0;
/*  border-top:solid 1px #dddddd;*/
}

form .field-command .text-post-status {
  float:left;
  margin-top:1px;
}

.form-container { 
  padding:20px;
  border:solid 1px #dddddd; 
  background-color:#f9f9f9;
  background-image:-moz-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
  background-image:-webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image:-o-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image:linear-gradient(to bottom, #fdfdfd, #f4f4f4);
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.form-title {
  margin:-7px 0 20px;
  padding:0 0 10px;
  border-bottom:solid 1px #dddddd; 
}

/* FORM ELEMENTS */
input, 
textarea,
select {
  padding:4px 5px; 
  border:solid 1px #bbbbbb;
  color:#222222;
  font-size:97%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius:3px;
	-moz-border-radius:3px;
  		border-radius:3px;
}

input.text-field { width:180px; }
input.text-field-price { width:90px; }
input.text-field-number { width:65px; text-align: right; }
input.text-field-medium { width:90px; }
input.text-field-smallest { width:45px; }
input.text-field-max { width:96%; }

textarea { 
  resize:none;
}

input.text-field.disabled,
textarea.text-field.disabled { background-color:#f8f8f8; }

input:focus, 
textarea:focus,
select:focus { border-color:#999999;outline:none; }

/* BUTTON ELEMENT */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 2px;
  margin-bottom: 0;
  min-width:60px;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  font-weight:bold;
  background-color: #cccccc;
  *background-color: #dddddd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(to bottom, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #aaaaaa #aaaaaa #bfbfbf;
  border-bottom-color: #aaaaaa;
  outline:none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #dddddd;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(to bottom, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* NOTICES */
.notice p {
  display:block;
  margin:-5px 0 20px;
  padding:8px 35px 8px 15px;
  border:1px solid #fbeed5;
  background-color:#fcf8e3;
  color:#c09853;
  line-height:17px;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.notice p.success {
  border-color:#d6e9c6;
  background-color:#dff0d8;
  color:#468847;
}

.notice p.error {
  border-color:#eed3d7;
  background-color:#f2dede;
  color:#b94a48;
}

.notice p.info {
  border-color:#bce8f1;
  background-color:#d9edf7;
  color:#3a87ad;
}

.notice p strong { font-size:110%; }

.warning {
	color: #b94a48;
}

.auto_width {
	width: 85%;
}

.auto_width_right {
	width: 85%;
	text-align: right;
}
.auto_width_center {
	width: 85%;
	text-align: center;
}
